html {
    font-size: 16px;
}
body {
    color: #fff;
    font-size: 1rem;
    background: #32ccbc;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon {
    height: 20px;
    width: 20px;
    fill: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    border: none;
}

/* ===========================================================================
    HEADER
   ===========================================================================
*/

.header .row {
    text-align: center;
}

.header__search, .header__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__geolocate {
    margin-right: .8rem;
}
.header__form input {
    padding: 0.575rem 0.75rem;
    color: #495057;
    width: 100%;
    /* border-radius: 7px; */
}

.header__form button {
    padding: 0.375rem 0.75rem;
    border: 0;
    background: #4a9a8f;
}

@media screen and (min-width: 500px) {
    .header .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
}

/* ===========================================================================
    Weather
   ===========================================================================
*/

.weather {
    padding-top: 3rem;
    text-align: center;
}

.weather__message {
    padding-top: 7rem;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 1.5rem;
}
.weather .location {
    color: #30655d;
}

.weather__summary {
    margin-top: 3rem;
}

.weather__summary .weather-icon {
    font-size: 3rem;
    margin-right: 1.4rem;
}

.weather__celsius-value {
    font-size: 5rem;
}
.weather__celsius-value  .wi-celsius {
    font-size: 8rem;
    vertical-align: middle;
}

.weather__miscellaneous{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}


.weather__miscellaneous li:first-child {
    margin-right: 2rem;
}

.weather__miscellaneous span {
    color: #132522;
    margin-left: 1rem;
}


/* ===========================================================================
    Forecast
   ===========================================================================
*/

.forecast {
    margin-top: 5rem;
}
.forecast .row {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forecast__day {
    background: #4a9a8f;
    text-align: center;
    /* padding: 1rem 5rem; */
    margin-bottom: .8rem;
    flex: 1 0 100%;
}

.forecast__date {
    font-size: 1.3rem;
}
.forecast__icon {
    font-size: 3.7rem;
}

.forecast__temp {
    font-size: 1.8rem;
}

@media screen and (min-width: 600px) {
    .forecast__day {
        margin-right: 1rem;
        flex: 1 1 15%;
    }
}